{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <img src="{{ url_for('static', filename='./img.jpg') }}" align="middle" height=205 width=290>
    <h1>Welcome to Just Green Vegeterians Order Online!</h1>
    <h1>Links:</h1>
    <a href="{{ url_for('index') }}"><button>Home</button></a>
    <a href="{{ url_for('register') }}"><button>Register</button></a>
    <a href="{{ url_for('menu') }}"><button>Menu</button></a>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScBQyvIw0nzdHD3sntXZGPcc6KQeqP2ZpudPFlkM5AxouCSjw/viewform?embedded=true" width="640" height="681" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
{% endblock %}