{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <img src="{{ url_for('static', filename='./img.jpg') }}" align="middle" height=205 width=290>
    <h1>Welcome to Just Green Vegeterians Order Online!</h1>
    <h1>Links:</h1>
    <a href="{{ url_for('index') }}"><button>Home</button></a>
    <a href="{{ url_for('register') }}"><button>Register</button></a>
    <a href="{{ url_for('menu') }}"><button>Menu</button></a>
    <iframe width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__SSFywpUQ1ZIMjNHSlpOTk1FOTVOM1U4VDlWUjRCTy4u&embed=true" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
</div>
{% endblock %}
